body {
background: #89909f;
margin: 4rem 0 0 3rem;
overflow: hidden;
}

.registre{
border: 1px solid black;
width: 600px;
height: 530px;  
background-color: cadetblue;
}

h1{
color: darkred;
text-align: center;
font-size: 20px;    
}

img{
float: left;     
width: 300px;
height: 530px;  
margin-top: -13px;    
object-fit: cover;
}

.right{
text-indent: 5% ;  
}

input{
border: none;
border-bottom: 1px outset darkred ;
background: cadetblue; 
line-height: 2;    
}

input::placeholder{
color: #cecede;
}

select{
direction: rtl;
position: relative;
left: 14em;
background: cadetblue;
color: white;    
border: none;    
}

p{
text-indent: 8%;
font-size: 14px;
color: white;
}

.container{
padding: 8px;
}

.block{
display: inline;
padding: 0.5em 0.7em;
background-color: #2ebec4;
border-radius: 50%;
}

a{
text-decoration: none; 
color: white;
}

span{
padding: 0.2em 0.5em;
border-radius: 50%;
background-color: darkred;          
}


.button{
text-indent: 6%;
line-height: 7;    
}

input[type=submit]{
color: white;
background: #2ebec4;
border: none;
padding: 0.3rem 3rem ;
box-shadow: 1px -1px 2px #2ebec4;
}

.info{
font-size: 13px;
color: white;  
text-indent: 56%;
position: relative;
bottom: 110px  ; 
color: darkred;    
}




