h1{
    color: aqua;
    text-align: center;
    font-family: cursive;
    text-transform: uppercase;
    border: 5px dashed;
    padding: 5px;
    box-shadow: 6px 6px 0px;
}
a:hover{
  color: blue; /*apparence dynamiaue*/
    
}
a:active{
    color: red;
}

a{
    font-size: 20px;
}
nav{
   background-color: #1ffd26;
   padding: 15px;
    
    
    
    
}
li{
    list-style-type: square;
    margin: 10px;
    display: inline-block;
    
}
td{
    border: 1px solid;
    padding: 5px;
    text-align: center;
    
    
    
}
table{
    border-collapse: collapse;
    margin: auto;
    
}
th{
    border: solid;
}
p{
    text-align: justify;
    
}
#paragraphe1{
    float: right;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: -10px;
    overflow: auto;
}
paragraphe2{
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    
}
@media screen and (max-width:1080px) { #paragraphe1{display: none;}
    #paragraphe2{width: auto;}
    p{color: aqua;}
}