body{
    background-color: floralwhite;
    margin: 1px;
   
}
header{
     background-image: url(https://img.freepik.com/vecteurs-premium/fond-motif-geometrique_13920-1663.jpg?w=2000);
    background-repeat: repeat-x;
    background-size: cover;
  
}
p{
    width: 50%;
    font-style: italic;
    font-weight: bold;
    background-color: cornsilk;
    border: 3px solid;
    border-radius: 10px;
    padding: 2px;
    
    
}
h1{
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    color: blue;
    font-size: 45px;
    text-decoration: underline;
    margin-top: 0px;
}
a{
    color: dodgerblue;
    text-decoration: none;
    
    
}
a:hover{
  color: blue;
    
}

a:active{
  color: red;
    
}
.surligner{ /*id: un seul par page du mem nom
            class:pls par page du mem nom*/
   color: dodgerblue;
}
.container{
    max-width:1080px;
    background-color: azure;
    margin: auto;
    background-image: url(https://c8.alamy.com/compfr/r6fgcw/transparente-motif-japonais-kumiko-en-noir-et-blanc-d-ossature-avec-les-lignes-fines-r6fgcw.jpg);
    overflow: hidden;
    background-size: cover;
    
}
#subtitle{
    text-align: center;
    font-family: cursive;
    margin-top: -5px;
    
}
nav ul{
    padding-left: 0px;
    list-style-type: none;
     margin: 0px;
   
    
}
nav ul li{
    display: inline;
    padding-right: 15px;
}
nav a{
    color:darkblue;
    
}
nav{
    background-color: lightgoldenrodyellow;
    padding: 6px;
    margin-bottom: auto;
    
    
    
}