*{
list-style: none;    
}

body{
overflow-x: hidden;    
    
}

header>nav>ul>li{
display: inline-flex;
flex-direction: row;    
flex-wrap: wrap;
/*padding: 5px;*/
}
a{    
margin:0 60px; 
color: black;
font-family: sans-serif;
font-size: 20px;
text-decoration: none;    
}
.logo{
background: white;
border-radius: 10px;
margin-left: 38em;
}

.img-center{
width: 100%;
height: 600px;    
padding: 0 10px 0;  
margin: 0 -10px;    
background-image: url(interface-3614766.png);
background-position:center;
background-size: 100%;
background-repeat: no-repeat;       
}

.text-center{
text-align: center;
display: inline;    
position: relative;
top: 230px;    

}
.text-center>h2{
width: 400px ;
background: rgba(14, 14, 190, 0.63);
position: relative;
left: 450px;
padding: 5px;    
}

i{
font-size: 100px;
color: rgb(47, 42, 175); 
padding: 30px;
border: 1px solid; 
border-radius: 100% ;
/*width: 100px;    */
height: 90px    

}

.container{
width: 100%;   
height: 400px;    
display: inline-flex;
}

.icon{    
padding:130px;
padding-right: 150px;
}

.icon>h3,p{
text-align: center;    
}

.background{
padding: 15px;   
margin-left: -10px;    
margin-top: 50px;    
width: 100%;
height: 200px;
display: flex; 
background-color: rgb(136, 136, 149);
}

.childs{
width: 200px;
font-family: sans-serif;    
display: inline-block;
align-self: center;
margin: 0 auto;
}
h1{
display: inline-flex;
position: relative;
left: 650px;
font-size: 30px;
}
.items-1{
width: 100%;
display: flex;
background-color: rgb(136, 136, 149);
margin-left: 0 auto;
margin-left: 10px;    
    
}
.child{
height: 185px;
width: 100%;
display: inline-block;       
}

.soon{
width: 100%;
display: flex;
background-color: rgb(136, 136, 149); 
margin-left: 0 auto;    
margin-left: 10px;     
}
.soons{
height: 185px;
width: 100%;
display: inline-block;     
}

#n1{
background-image: url(apprendre-html-et-css.jpg);
background-position:center;
background-size: 350px;
background-repeat: no-repeat;     
}
#n2{
background-image: url(boostrap.png);
background-position:center;
background-size: 350px;
background-repeat: no-repeat;     
}
#n3{
background-image: url(jquery-444684_1280.png);
background-position:center;
background-size: 330px;
background-repeat: no-repeat;     
}
#n4{
background-image: url(JS.jpg);
background-position:center;
background-size: 350px;
background-repeat: no-repeat;     
}
#n6{
background-image: url(django_final.png);
background-position:center;
background-size: 350px;
background-repeat: no-repeat;}

#n7{
background-image: url(React_Hero.png);
background-position:center;
background-size: 350px;
background-repeat: no-repeat;}

#n8{
background-image: url(python-logo-4k-i6.jpg);
background-position:center;
background-size: 350px;
background-repeat: no-repeat;}

#n9{
background-image: url(microsoft%20logo.jpg);
background-position:center;
background-size: 350px;
background-repeat: no-repeat;}

.BAKELI{
margin-top: 200px;
text-align: center;      
}

.text-bakeli {
font-family: sans-serif;
font-size: 30px;    
}
.lot-1>p{
text-align: start;
font-weight: 600; 
width: 30%; 
position: relative;
top:48px;
left:120px    
}

.progressbar-wrapper {
background-color: #dfe6e9;
color: white;
border-radius: 15px;
width: 30%;
position: relative;
top:48px;
left:120px    
}

.progressbar {
color: white;
text-align: right;
border-radius: 15px;
}

.progressbar[title="pratiques"] {
background-color: greenyellow;
}

.progressbar[title="insertion"] {
background-color: greenyellow;
}
  
.b-100 {
  width: 100%;
}

.b-80 {
  width: 60%;
}

.lot-2>p{
text-align: start;
font-weight: 600; 
width: 30%; 
position: relative;
left: 800px;    
top:-87px;    
}

.progressbar-wrapper-2 {
background-color: #dfe6e9;
color: white;
border-radius: 15px;
width: 30%; 
position: relative;
left: 800px;
top:-87px;    
}

.progressbar-2 {
color: white;
text-align: right;
border-radius: 15px;
}

.progressbar-2[title="opportunite"] {
background-color: greenyellow;
}

.progressbar-2[title="Qualite"] {
background-color: greenyellow;
}
  
.b-90 {
  width: 90%;
}

.b-70 {
  width: 70%;
}
.ourteam{
background-color: rgb(136, 136, 149); 
text-align: center;
padding-top: 5px;
padding-bottom: 50px;    
}
span{
font-size: 30px;  
font-family: sans-serif;    
}

.teams{
width: 100%;
height: 180px;
display: flex;
margin-left: 0 auto;    
}
.team{  
margin: 5px;    
height: 175px;
width: 100%;
display: flex;
}
#t-1{
background-image: url(team-0.webp);
background-position:center;
background-size: 200px;
background-repeat: no-repeat;  
background-color: #00ff00;    
}
#t-2{
background-image: url(team-1.png);
background-position:center;
background-size: 200px;
background-repeat: no-repeat;  
background-color: #1fd650;    
}
#t-3{
background-image: url(team-2.png);
background-position:center;
background-size: 200px;
background-repeat: no-repeat; 
background-color: #085a34;    
}
#t-4{
background-image: url(team-3.png);
background-position:center;
background-size: 200px;
background-repeat: no-repeat;  
background-color: #07f7ad;    
}

.body{
margin-top: -5px;       
width: 100%;
display: flex;
margin-left: 0 auto;   
}
.footer{
margin: 5px;    
width: 100%;
display: inline-block;
background: rgba(0, 255, 39, 0.71);
text-align: center;
line-height: 5;  
text-transform: capitalize;
font-family: sans-serif;    
}

.contenu-text{
margin-top: 50px;    
}

.paragraphe{
padding:60px;
width: 700px;    
position: relative;
left: 320px    
}

h5{
padding:60px;    
font-family: sans-serif;
font-size: 15px;
text-align: center;    
}

.footer {
width: 100%;
background-color: #6c6767;  
padding: 10px    
}
.contact-list{
display: inline-table;
font-size: 20px;
    
}